{% extends 'bs_base_layout.html' %}

{% block content %}
<div class="w-50 mx-auto">

  <div class="">
    
    <div  style="background-image: linear-gradient(to right,silver, rgb(0, 0, 0,0) ); height: 2px; margin: 10px ;margin-top: 54px;margin-left: -3px;">
      <hr style="opacity: 0;">
    </div>      
    <h1 style="color: silver;">Sign Up</h1>
          <div  style="background-image: linear-gradient(to right,silver, rgb(0, 0, 0,0)); height: 2px; margin: px;margin-left: -3px;">
            <hr style="opacity: 0;">
    </div>
  </div>

  <!-- <hr class="w-25 mx-auto pt-5"> -->
  <!-- <form >
    <div  class="form-group text-center">
        <label> <i class="fa fa-user fa-2x"></i>Username</label>
        <input type="text" name="" class="form-control">
    </div>

    <div  class="form-group text-center">
        <label><i class="fa fa-lock fa-2x"></i>Password</label>
        <input type="pwd" name="" class="form-control">
    </div>

    <div  class="form-group text-center">
        <label><i class="fa fa-envelope fa-2x"></i>Email</label>
        <input type="text" name="" class="form-control">
    </div>

  </form> -->

  <div class="" style="">
    <div class="">
      <form class="site-form form-control " style="border-top-left-radius:0;border-top-right-radius:0; margin-top: 5px; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;" action="/accounts/signup/" method="post">

        {% csrf_token %}
        <!-- {% for field in form %}

        {% endfor %} -->

        {{ form.as_p }}
        <!-- <input type="submit" value="Signup"> -->
        <center><button type="submit" class="btn btn-dark" style="background-color: black; color:silver;">Submit</button></center>
      </form>
    </div>
  </div>

</div>

{% endblock %}
