.home   {
    
    border-style: solid;
    border-radius: 10px;
    margin-top: 50px;
   margin: auto;
    text-decoration-color: silver;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    margin: auto;
    color: silver;
    text-align: center;
}
.home,a:hover{
    color: rgb(227, 233, 240);
    transition: .5s;
}
a:hover{
    color: steelblue;
}