{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Tourism Aid</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<style type="text/css">
			
			*{
				margin: 0; padding: 0; font-family:  'Josefin Sans',   sans-serif;
			}
  
  </style>

</head>
<body>
	
    <div  style="background-image: linear-gradient(to right, rgb(0, 0, 0,0),silver, rgb(0, 0, 0,0)); height: 2px;">
        <hr style="opacity: 0;">
      </div>
	<!-- Contact-Us -->
	<section class="fixed-bot t" style="background-color: #000000;color: silver;" >
	  <article class="py-5 text-center">
	    <div>
	        <p>Contact Us On</p>
	        <h3 class="display-4 ">+977-9861237636</h3>
	        <!-- <a href="#" class="btn btn-warning">Contact Us</a> -->
			<p>tourism.aid@gmail.com</p>
	    </div>
	  </article>
	</section>

	


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>
