{% extends 'bs_base_layout.html' %}

{% load static %}

{% block content %}

<div class="ml-3  mr-3 hotel-detail">
	<div  style=" background-image: linear-gradient(to right,silver, rgb(0, 0, 0,0) 50%); height: 2px; ;margin-left: -3px;">
		<hr style="opacity: 0;">
	</div>
	<h1 class=" mb-3 text-light" style="margin-top: 45px; margin-left: 20px;">{{hotel.title}}</h1>
	<div  style="background-image: linear-gradient(to right,silver, rgb(0, 0, 0,0) 50%); height: 2px; margin: 10px;margin-left: -3px;">
                  <hr style="opacity: 0;">
    </div>
<div style="position: relative;">
	<img src="{{ hotel.thumb.url }}" style="width:100%; height: 83vh; object-fit: cover;" class="img-fluid">
	<div style="position: absolute;bottom: 0;height:20%; width: 100%; background:linear-gradient(to top, black , transparent);">
		<hr style="opacity: 1;">
	</div>
          
</div>

   	<p class="" style="color: silver; margin: 20px;">
		 {{hotel.body}}
  	</p> 

    <p class="" style="color: silver; margin: 20px;">
		 <a href="{{hotel.url}}">Read More</a>
  	</p> 

</div>
{% comment %} MAP {% endcomment %}
<div id='map' style='width: 1000px; height:500px; margin: auto;'></div>
  <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoicmFuZGF6emxlIiwiYSI6ImNrbG5uM2t2aDAwY2IybnA2bGN1YWF0N3QifQ.r1nyniJdTbVwWclWGc3tWw';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [{{ hotel.longitude }}, {{ hotel.latitude }}],
    zoom: 18
  });

  var popup = new mapboxgl.Popup()
  .setHTML('<h3>{{ hotel.title }}</h3>');

  var marker = new mapboxgl.Marker()
  .setLngLat([{{ hotel.longitude }}, {{ hotel.latitude }}])
  .setPopup(popup)
  .addTo(map);
  </script>

{% endblock %}
