{% extends 'bs_base_layout.html' %}

{% load static %}

{% block content %}
    <style>
    body{
        overflow-x: hidden;
        margin: ;
    }
    </style>
    <div style="margin-top: 65px; text-align: center;">
    <div  style="width: 35%; background-image: linear-gradient(to right,rgb(0, 0, 0,0) ,silver, rgb(0, 0, 0,0) ); height: 2px;; margin:auto;">
    <hr style="opacity: 0;">
    </div>
    <h2 style="margin:20px;color: silver;">Hotels Nearby</h2>
    <div  style=" background-image: linear-gradient(to right,rgb(0, 0, 0,0) ,silver, rgb(0, 0, 0,0) ); height: 2px; margin:auto;width: 35%;">
    <hr style="opacity: 0;">
    </div>
    </div>
    <script>
        navigator.geolocation.getCurrentPosition(position => { 
            var lon = position.coords.longitude
            var lat = position.coords.latitude
        });
    </script>
    <form class="site-form form-control " style="border-top-left-radius:0;border-top-right-radius:0; margin-top: 5px; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;" action="/hotels/hotels_nearby/" method="post">

        {% csrf_token %}
        <!-- <input type="submit" value="Signup"> -->
        <input type="hidden" name="longitude" value="{{lon}}" />
        <input type="hidden" name="latitude" value="{{lat}}" />
        <center><button type="submit" class="btn btn-dark" style="background-color: black; color:silver;">Get Nearby Hotels</button></center>
    </form>
{% endblock %}