{% extends 'bs_base_layout.html' %}

{% load static %}

{% block content %}
<style>
  body{
    overflow-x: hidden;
    margin: 10px;
    
    }
    
  
</style>
<!-- Cards -->

  

      <div style="margin-top: 90px; margin-bottom: -30px; text-align: center;"> 
        <a  style="text-decoration: none; background-color: silver;color: black ; width: 100%; margin:auto ;padding-top: 15px;padding-bottom: 15px;padding-left: 30%;padding-right: 30%;border-radius: 25px;box-shadow: 2px 2px 5px rgb(97, 96, 96); " href="{% url 'hotels:hotels_nearby' %}" onmouseover="style.background='rgb(214, 210, 210)';"onmouseout="style.background='silver'"> <i style="color: rgb(109, 18, 18);" class="fa fa-map-marker"></i>  View Hotels Nearby </a>
      </div>
        <div style="margin-top: 65px; text-align: center;">
          <div  style="width: 35%; background-image: linear-gradient(to right,rgb(0, 0, 0,0) ,silver, rgb(0, 0, 0,0) ); height: 2px;; margin:auto;">
          <hr style="opacity: 0;">
        </div>
          <h2 style="margin:20px;color: silver;"> New Entries</h2>
          <div  style=" background-image: linear-gradient(to right,rgb(0, 0, 0,0) ,silver, rgb(0, 0, 0,0) ); height: 2px; margin:auto;width: 35%;">
          <hr style="opacity: 0;">
        </div>
        </div>

        {% for hotel in hotels %}
        
          <div class="row mb-5" style="margin:15px ;">
            
            <div class="col-lg-g col-md-6 ">
              <a href="{% url 'hotels:hotel_detail' slug=hotel.slug %}"><img src="{{ hotel.thumb.url }}" style="object-fit: cover; height:300px; width:600px ;box-shadow: 2px 2px 3px rgb(75, 74, 74); border-radius : 5px ;" class="img-fluid"></a>
            </div>
            <div class="col-lg-g col-md-6 ">
              <h1 class="text-light"><a class="text-light" href="{% url 'hotels:hotel_detail' hotel.slug %}" style="text-decoration : none;">{{ hotel.title }}</a></h1>
              <p style="color: silver;">
                {{ hotel.snippet }}
              </p>
              <a  style="color:silver; border:2px double silver; padding: 10px; border-radius: 10px;text-decoration: none;" onmouseover="this.style.color='black'; style.background ='silver' " onmouseout="style.background ='black'; this.style.border= '2px double silver';this.style.color='silver' " href="{% url 'hotels:hotel_detail' slug=hotel.slug %}">Read More</a>
              
            
            </div>
            <div  style="background-image: linear-gradient(to right, rgb(0, 0, 0,0),silver, rgb(0, 0, 0,0)); height: 1px;margin-top: 10px;margin-bottom: 38px;">
            <hr style="opacity: 0;">
          </div>
          
          </div>
          <div  style="opacity: .15; background-image: linear-gradient(to right, rgb(0, 0, 0,0),silver, rgb(0, 0, 0,0)); height: 1px;margin-top: 10px;margin-bottom: 38px;">
            <hr style="opacity: 0;">
          </div>
  
        {% endfor %}

        {% if hotels.has_other_pages %}

          <ul class="pagination" style=" text-decoration: none;" >
            <div style="margin: auto; display: inline-flex;justify-content: space-between;">
            {% if hotels.has_previous %}
                <li  style="color: silver;"><a style="color: silver;" href="?page={{ hotels.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled" style="color: silver;"><span>&laquo;</span></li>
            {% endif %}

            {% for i in hotels.paginator.page_range %}
                {% if hotels.number == i %}
                    <li class="active" style="padding-top: 3px; margin-left: 5px; margin-right: 5px; color: black; background-color: white;border-radius: 5px; width: 30px;height: 30px; text-align: center;"><span > {{ i }} <span  class="sr-only">{current}</span></span></li>
                {% else %}
                   <a style="color: white;"  href = "?page={{ i }}"> <li onmouseover="style.background='gray'" onmouseout="style.background='rgb(58, 57, 57)'" style="padding-top: 3px; margin-left: 5px; margin-right: 5px;  background-color: rgb(58, 57, 57);border-radius: 5px; width: 30px;height: 30px; text-align: center;" >{{ i }}</li></a>
                {% endif %}
            {% endfor %}

            {% if hotels.has_next %}
                <li  ><a style="color: silver;" href="?page={{ hotels.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </div>
          </ul>

        {% endif %}

        
      </div>
    </div>

  </section>

{% endblock %}
